<!DOCTYPE html>

<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
  </head>

  <body>
   
    <header>
      <div class="container">
          <strong><nav>
            <ul id="menu">
              <h1 class="logo"> forum</h1>
              <li><a href="{{ url_for('webPage.home') }}">Home</a></li>
              <li><a href="{{ url_for('webPage.about') }}">About</a></li>
              <li><a href="{{ url_for('webPage.news') }}">News</a></li>
              <li><a href="{{ url_for('webPage.signin') }}">Sign in</a></li>
              <li><a href="{{ url_for('webPage.login') }}">Log in</a></li>
              
              <li>
              <a href="#">Graphics</a>
              <ul>
                  <li><a href="{{ url_for('visual.energyJobs') }}">Jobs in energy sector</a></li>
                  <li><a href="{{ url_for('visual.energyJobsStacked') }}">Jobs bellow the years</a></li>
              </ul>
              </li>

              <li>
              <a href="#">Data Table</a>
              <ul>
                  <li><a href="{{ url_for('webPage.userTable') }}">User</a></li>
                  <li><a href="{{ url_for('webPage.postTable') }}">Pots</a></li>
              </ul>
              </li>
              
            </ul>
          </nav></strong>
      </div>
    </header> 
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><h2 class="erro">{{ message }}</h2></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>

