{% extends "layout.html" %}
  
{% block content %}
    <html>
    	<head><title>{{title}}</title></head>
    	
    	<body>
        
        <h2>New Posts</h2>

            {% for post in posts %}
       			<div class="jumbo">

                    <h3 class="post">
                        <p><u>{{ post.author.nickname }}</u> ({{ post.timestamp.day }}/{{ post.timestamp.month }}/{{ post.timestamp.year }}) says: <b>{{ post.body }}</b></p>
                    </h3>
                </div>
            <br/>
            {% else %}
                <div class="jumbo">
                    <h3>None post this month</h3>
                </div>
            {% endfor %}
       
    	</body>
    </html>
{% endblock %}