{% extends "layout.html" %}
  
{% block content %}
  <h1>Make a post</h1>
  
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your OpenID:<br>
          {{ form.userName(size=80) }}
          {% for error in form.userName.errors %}
            <span style="color: red;">[{{error}}]</span>
          {% endfor %}<br>
          Your post:<br>  
          {{ form.post(size=140) }}
          {% for erro in form.post.errors %}
            <span style="color: red">[{{error}}]</span>
          {% endfor %}
      </p>
      <p><input type="submit" value="Post"></p>
  </form>

{% endblock %}
